@(envelopes: List[models.Envelope])

@main("Dashboard") {

	<div class="container">
	    <p>
	    <a class="btn btn-primary btn-lg" role="button" href="/sendNew">Send New</a>
	    </p>
	    <div class="table-responsive">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Subject</th>
	            <th>Date Last Updated</th>
	            <th>Document Name</th>
	            <th>Sheet Name</th>
	            <th>Recipients</th>
	            <th>Status</th>
	          </tr>
	        </thead>
	        <tbody>
	        @for((env, index) <- envelopes.zipWithIndex) {
	          <tr>
	            <td>@(index+1)</td>
	            <td>@env.getEmailSubject</td>
	            <td>@env.getDateLastUpdated</td>
	            @for(doc <- env.getDocuments){
	            <td>@doc.getName</td>
	            <td>@doc.getSheetName</td>
	            }
	            <td>
				@for(rec <- env.getRecipientList){
					@rec.getEmail,&nbsp; 
				}
				</td>
	            <td>@env.getStatus</td>
	          </tr>
	          }
	        </tbody>
	      </table>
	    </div>
	</div>

}
