@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
        <title>@title</title>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap-theme.css">
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="/assets/css/main.css">
        <link rel="stylesheet" media="screen" href="/assets/css/select2.css">
        <link rel="stylesheet" media="screen" href="/assets/css/select2-bootstrap.css">
        <link rel="stylesheet" media="screen" href="/assets/css/selectize.default.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        
        <script src="/assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Smartsheet Docusign Integration</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	          @if(title != "Login"){
	            <li @if(title == "Dashboard"){class="active"}><a href="/">Dashboard</a></li>
	            <li @if(title == "Send New Document"){class="active"}><a href="/sendNew">Send New</a></li>
	            <li><a href="/logout">Logout</a></li>
	           }
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    
		@content
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/assets/js/bootstrap.js" type="text/javascript"></script>
        <script src="/assets/js/select2.js" type="text/javascript"></script>
        
    </body>
</html>
